:root {
  --primary: #262626; 
  --primary-text: #bfbfbf;
  --secondary: #009688;
  --secondary-text: #1a1a1a;
  --accent: #1a1a1a;
  --accent-text: #009688;
}
* {
  font-family: "JetBrains Mono", monospace;
  color: var(--primary-text) !important;
}
body {
  background-color: var(--primary) !important;
}
h1, h2 {
  font-family: "JetBrains Mono", monospace;
}
nav {
  background-color: var(--secondary) !important;
}
p {
  color: var(--primary-text);
}
footer a {
  color: var(--secondary-text) !important;
}
footer em {
  /* color: var(--secondary-text) !important; */
  font-family: monospace;
}