
.parallax-1 {
    background-image: url("../img/banner1.jpg");
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-2 {
    background-image: url("../img/banner2.jpg");
    height: 75%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.polyhedron {
    background: radial-gradient(circle, #000000 31%,#00ffae 56%,#000000 88%);
    background: -moz-radial-gradient(circle, #000000 31%,#00ffae 56%,#000000 88%);
    background: -webkit-radial-gradient(circle, #000000 31%,#00ffae 70%,#000000 88%);
    border-radius: 100px 0px 100px 0px;
    box-shadow: 10px 10px 15px #000000;
    color: #000000;
}
.my-black{
    color: #000 !important;
    background-color: #1a1a1a !important;
}
.my-grey {
    color: #000 !important;
    background-color: #262626 !important;
}
.my-light-grey {
    color: #000 !important;
    background-color: hsl(0deg 0% 20%) !important;
}
.my-button {
    color: #00998a !important;
}
.my-project-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color: #019688 !important;
}
.my-grey-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color: #019688 !important;
}
.my-grey-subtitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: bold;
  color: #8de7e1 !important;
}
.my-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
}
.my-c {
  background-image: url("../ico/c.svg");
}
.my-cpp {
    background-image: url("../ico/cpp.svg");
}
.my-css {
    background-image: url("../ico/css.svg");
}
.my-go {
    background-image: url("../ico/go.svg");
}
.my-html {
    background-image: url("../ico/html.svg");
}
.my-javascript {
    background-image: url("../ico/javascript.svg")
}
.my-nim {
    background-image: url("../ico/nim.svg");
}
.my-python {
    background-image: url("../ico/python.svg");
}
/* colorized */
.my-sql-c {
    background-image: url("../ico/sql-c.svg");
}
.my-sql-c2 {
    background-image: url("../ico/sql-c2.svg");
}
.my-sql-c3 {
    background-image: url("../ico/sql-c3.svg");
}
.my-sql-c4 {
    background-image: url("../ico/sql-c4.svg");
}
.my-c-c {
    background-image: url("../ico/c-c.svg");
}
.my-cpp-c {
    background-image: url("../ico/cpp-c.svg");
}
.my-css-c {
    background-image: url("../ico/css-c.svg");
}
.my-go-c {
    background-image: url("../ico/go-c.svg");
}
.my-html-c {
    background-image: url("../ico/html-c.svg");
}
.my-javascript-c {
    background-image: url("../ico/javascript-c.svg")
}
.my-nim-c {
    background-image: url("../ico/nim-c.svg");
}
.my-python-c {
    background-image: url("../ico/python-c.svg");
}
.my-pytorch-c {
    background-image: url("../ico/pytorch-c.svg");
}
.my-pytorch-c2 {
    background-image: url("../ico/pytorch-c2.svg");
}
.my-sklearn-c {
    background-image: url("../ico/sklearn-c.svg");
}
.my-flask {
    background-image: url("../ico/flask.svg");
}
.my-flask2 {
    background-image: url("../ico/flask2.svg");
}
.my-plotly-c {
    background-image: url("../ico/plotly-c.svg");
}
.my-plotly-c2 {
    background-image: url("../ico/plotly-c2.svg");
}
.my-selenium-c {
    background-image: url("../ico/selenium-c.svg");
}
.my-pandas-c {
    background-image: url("../ico/pandas-c.svg");
}
.my-opencv-c {
    background-image: url("../ico/opencv-c.svg");
}
.my-tensorflow-c {
    background-image: url("../ico/tensorflow-c.svg");
}
.my-torchdrug-c {
    background-image: url("../ico/torchdrug-c.svg");
}
.my-streamlit-c {
    background-image: url("../ico/streamlit-c.svg");
}
.my-streamlit-c2 {
    background-image: url("../ico/streamlit-c2.svg");
}
.my-numpy-c {
    background-image: url("../ico/numpy-c.svg");
}
.my-seaborn-c {
    background-image: url("../ico/seaborn-c.svg");
}
.my-matplotlib-c {
    background-image: url("../ico/matplotlib-c.svg");
}
.my-pydeck-c {
    background-image: url("../ico/pydeck-c.svg");
}
.my-huggingface-c {
    background-image: url("../ico/huggingface-c.svg");
}
.my-telegram-c {
    background-image: url("../ico/telegram-c.svg");
}
.my-node-c {
    background-image: url("../ico/node-c.svg");
}
.my-node-c2 {
    background-image: url("../ico/node-c2.svg");
}
.my-express {
    background-image: url("../ico/express.svg");
}
.my-express-2 {
    background-image: url("../ico/express-2.svg");
}
.my-react-c {
    background-image: url("../ico/react-c.svg");
}
.my-react-c2 {
    background-image: url("../ico/react-c2.svg");
}
.my-redux-c {
    background-image: url("../ico/redux-c.svg");
}
.my-dna {
    background-image: url("../ico/dna.svg");
}
.my-microscope {
    background-image: url("../ico/microscope.svg");
}
.my-microchip-ai {
    background-image: url("../ico/microchip-ai.svg");
}
.my-brain {
    background-image: url("../ico/brain.svg");
}
.my-brain-circuit {
    background-image: url("../ico/brain-circuit.svg");
}
.my-chart-line {
    background-image: url("../ico/chart-line.svg");
}
.my-chart-candlestick {
    background-image: url("../ico/chart-candlestick.svg");
}
.my-chart-mixed {
    background-image: url("../ico/chart-mixed.svg");
}
.my-chart-pie {
    background-image: url("../ico/chart-pie.svg");
}
.my-chart-network {
    background-image: url("../ico/chart-network.svg");
}
.my-chart-scatter-bubble {
    background-image: url("../ico/chart-scatter-bubble.svg");
}
.my-code {
    background-image: url("../ico/code.svg");
}
.my-code-solid {
  background-image: url("../ico/code-solid.svg");
}
.color-svg {
  filter: brightness(0) saturate(100%) invert(38%) sepia(30%) saturate(6507%) hue-rotate(154deg) brightness(93%) contrast(102%);
}