<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-lg m-1" href="mailto: voidpunk.glitch@gmail.com" role="button">
        <i class="fa fa-envelope fa-lg"></i>
      </a>
      <a class="btn btn-lg m-1" href="https://www.linkedin.com/in/voidpunk" role="button">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>    
      <a class="btn btn-lg m-1" href="https://www.kaggle.com/voidpunk" role="button">
        <i class="fab fa-kaggle fa-lg"></i>
      </a>
      <a class="btn btn-lg m-1" href="https://github.com/voidpunk" role="button">
        <i class="fab fa-github"></i>
      </a>
      <a class="btn btn-lg m-1" href="tg://resolve?domain=voidpunk_glitch" role="button">
        <i class="fab fa-telegram"></i>
      </a>
      <a class="btn btn-lg m-1" href="https://medium.com/@voidpunk" role="button">
        <i class="fab fa-medium-m"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <em>Copyright © 2022 @voidpunk</em>
  </div>
</footer>